@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="text-align:center;">
    <div>
        <h1>Welcome to Task Scheduler</h1>
    </div>
    <div>
        <h4>Please select from menu option to begin</h4>
    </div>
</div>